In [1]:
import pandas as pd
df = pd.read_csv("../output/select_result.csv")
df.shape

(540, 11)

In [8]:
df["makespan_td"] = pd.to_timedelta(df["makespan_hms"])

In [9]:
best_each_floor = (
    df.loc[df.groupby("floors")["makespan_td"].idxmin()]
    [["floors", "responders", "exit_combo_id", "makespan_hms"]]
    .sort_values("floors")
)

best_each_floor

     floors  responders  exit_combo_id makespan_hms
6         1           7              1     00:03:37
38        2           9              1     00:06:21
68        3           9              1     00:10:39
98        4           9              1     00:15:00
128       5           9              1     00:18:15
158       6           9              1     00:24:23
188       7           9              1     00:32:01
218       8           9              1     00:39:41
248       9           9              1     00:49:31
278      10           9              1     00:57:05
308      11           9              1     01:07:10
338      12           9              1     01:19:33
368      13           9              1     01:31:11
398      14           9              1     01:45:50
428      15           9              1     01:57:47
458      16           9              1     02:12:17
488      17           9              1     02:29:05
518      18           9              1     02:45:08

In [10]:
for f in sorted(df["floors"].unique()):
    sub = df[df["floors"] == f]
    row = sub.loc[sub["makespan_td"].idxmin()]
    print(f"Floors={f:2d}, Best Responders={row.responders}, "
          f"ExitCombo={row.exit_combo_id}, Time={row.makespan_hms}")

Floors= 1, Best Responders=7, ExitCombo=1, Time=00:03:37
Floors= 2, Best Responders=9, ExitCombo=1, Time=00:06:21
Floors= 3, Best Responders=9, ExitCombo=1, Time=00:10:39
Floors= 4, Best Responders=9, ExitCombo=1, Time=00:15:00
Floors= 5, Best Responders=9, ExitCombo=1, Time=00:18:15
Floors= 6, Best Responders=9, ExitCombo=1, Time=00:24:23
Floors= 7, Best Responders=9, ExitCombo=1, Time=00:32:01
Floors= 8, Best Responders=9, ExitCombo=1, Time=00:39:41
Floors= 9, Best Responders=9, ExitCombo=1, Time=00:49:31
Floors=10, Best Responders=9, ExitCombo=1, Time=00:57:05
Floors=11, Best Responders=9, ExitCombo=1, Time=01:07:10
Floors=12, Best Responders=9, ExitCombo=1, Time=01:19:33
Floors=13, Best Responders=9, ExitCombo=1, Time=01:31:11
Floors=14, Best Responders=9, ExitCombo=1, Time=01:45:50
Floors=15, Best Responders=9, ExitCombo=1, Time=01:57:47
Floors=16, Best Responders=9, ExitCombo=1, Time=02:12:17
Floors=17, Best Responders=9, ExitCombo=1, Time=02:29:05
Floors=18, Best Responders=9, ExitCombo=1, Time=02:45:08

In [11]:
responder_summary = (
    df.groupby("responders")["makespan_td"]
    .mean()
    .apply(lambda td: str(td).split()[-1])      # 转回 HH:MM:SS
)

responder_summary

responders
1     02:54:10.444444444
2     02:23:49.185185185
3     01:46:50.074074074
4     01:46:36.129629629
5     01:33:48.925925925
6     01:33:47.111111111
7     01:26:10.518518518
8     01:26:10.388888888
9     01:17:19.092592592
10    01:17:19.907407407
Name: makespan_td, dtype: object

In [12]:
best_by_responder = (
    df.loc[df.groupby("responders")["makespan_td"].idxmin()]
    [["responders","floors","exit_combo_id","makespan_hms"]]
    .sort_values("responders")
)
best_by_responder

   responders  floors  exit_combo_id makespan_hms
0           1       1              0     00:10:15
1           2       1              0     00:07:38
2           3       1              1     00:05:02
3           4       1              0     00:05:02
4           5       1              1     00:04:50
5           6       1              0     00:04:50
6           7       1              1     00:03:37
7           8       1              0     00:03:37
8           9       1              0     00:03:37
9          10       1              0     00:03:37

In [13]:
exit_summary = (
    df.groupby("exit_combo_id")["makespan_td"]
    .mean()
    .apply(lambda td: str(td).split()[-1])
)

exit_summary

exit_combo_id
0    01:46:50.588377723
1    01:37:19.078740157
Name: makespan_td, dtype: object